<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gamestache">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".koin.GameStacheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/game_stache_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/game_stache_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name="com.example.gamestache.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.App.Starting"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <!-- windowSoftInputMode fixes the keyboard from pushing up the nav bar-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>